html,
body {
    font-family: 'Exo 2', sans-serif;
    background: #f9fafb;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.three-line-legend {
    width: 450px;
    height: 70px;
    position: absolute;
    padding: 8px;
    font-size: 12px;
    color: '#fff';
    background-color: rgba(10, 10, 10, 0.0);
    text-align: left;
    z-index: 1000;
    pointer-events: none;
}
